/* src/fonts.css */
@font-face {
    font-family: 'inter';
    src: url('./Assets/fonts/Inter-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'inter';
    src: url('./Assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'inter';
    src: url('./Assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
  }
  